@import url('https://fonts.googleapis.com/css2?family=Kufam&display=swap');
html{
    font-family: Kufam;
}
header{
    color:blue;
    padding: 40px;
    padding-bottom: 5px;
    font-size: 40px;
    
}

body{
    background-color: grey;
} 


.titre h1{
    display: inline;
    text-align: center;
    font-size: 60px;
    border: 2px solid red;
    
}

.formation{
    border: 2px solid rgb(32, 155, 32);
}
.loisir{
    border: 2px solid rgb(158, 134, 91);
}
#entete{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid black;
    margin-bottom: 40px;

}
.titre{
    text-align: center;
    margin-bottom: 50px ;
}
#exppro{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid black;
    font-size: 40px;
    margin-bottom: 20px;
}
h2{
    text-decoration: underline;
}
#formation{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid black;
    font-size: 40px;
    margin-bottom: 20px;
}
#loisir{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid black;
    font-size: 40px;
}











