@import url('https://fonts.googleapis.com/css2?family=Kufam&display=swap');
html{
    font-family: Kufam;
}
body{
    background-color: rgb(210, 205, 212);
} 

header{
    color:blue;
    padding: 40px;
    padding-bottom: 5px;
    font-size: 40px;
}
#entete{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 3px solid black;
    box-shadow: 6px 6px 3px blue;
    margin-bottom: 7rem;
}
.titre h1{
    display: inline;
    text-align: center;
    font-size: 60px;
}
.titre{
    display: inline-block;
    margin-bottom: 8rem;
    margin-left: 5rem;
    border-bottom:5px dashed rgb(25, 27, 184);
}
img{
    width : 70px;
    height: 70px;
}
#exppro{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 3px solid black;
    margin: 0 2rem 5rem 2rem;
    font-size: 40px;
    border-radius: 10px;
}
.exp,.form,.lois h2{
    text-decoration: underline;
}
#formation{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 3px solid black;
    font-size: 40px;
    margin: 0 2rem 5rem 2rem;
    border-radius: 10px;
}
#loisir{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 3px solid black;
    font-size: 40px;
    margin: 0 2rem 5rem 2rem;
    border-radius: 10px;
    
}
li{
    line-height: 1.5;
    list-style-type: none;
}
a:hover{
    color: yellow;
}
 footer{
    background-color: black;
    height: 6rem;
}
footer p{
    color: white;
    text-align: center;
    padding-top: 2.5rem;
}



