@import url('https://fonts.googleapis.com/css2?family=Kufam&display=swap');
html{
    font-family: Kufam;
}
header{
    color:blue;
    padding: 40px;
    padding-bottom: 5px;
    font-size: 40px;
    border: 1px solid blue;

}
body{
    background-color: grey;
}
.titre{
    width: 30rem;
    height: 2rem;

    text-align: center;
}
.formation{
    border: 2px solid rgb(32, 155, 32);
}
.loisir{
    border: 2px solid rgb(158, 134, 91);
}
.exppro{
    display: inline;
}
 
.exp{
    display: inline-block;
    border: 1px solid green;
    float: left;
    font-size: 40px;
    padding: 2rem;
}
.mag{
    display: inline-block;
    border: 1px solid red;
    float: right;
    font-size: 30px;
    line-height: 1.5;
    padding: 2rem;
}










